---
import Title from "./Title.astro";
---

<Title title="certifications" />
<div class="flex flex-col space-y-4">
  <div>
    <p class="capitalize pb-0.5 font-semibold text-lg dark:text-neutral-100">
      INATEC
    </p>
    <p class="text-neutral-600 dark:text-neutral-400">
      2016 / Computer technician
    </p>
  </div>
  <div>
    <p class="capitalize pb-0.5 font-semibold text-lg dark:text-neutral-100">
      Android ATC
    </p>
    <p class="text-neutral-600 dark:text-neutral-400">
      2022 / Android Certified Application Engineer
    </p>
  </div>
</div>
