<footer class="mt-8 border-t text-neutral-600 dark:text-neutral-400">
  <div class="mx-auto  ">
    <div
      class="flex flex-col items-center gap-4 text-center sm:flex-row sm:items-start sm:justify-between sm:text-left"
    >
      <address class="not-italic">
        <p>
          <a
            href="mailto:kennetholivas1@gmail.com"
            class="hover:text-neutral-800 dark:hover:text-neutral-100"
          >
            kennetholivas1@gmail.com
          </a>
        </p>
        <p>
          <a
            href="tel:+50581166983"
            class="hover:text-neutral-800 dark:hover:text-neutral-100"
          >
            (+505) 811 669 83
          </a>
        </p>
      </address>

      <nav aria-label="Links">
        <ul class="flex flex-wrap items-center justify-center gap-4">
          <li>
            <a
              href="https://kennetholivas.com"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-neutral-800 dark:hover:text-neutral-100"
              aria-label="Personal website"
            >
              Website
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/kenneth-olivas-027153208"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-neutral-800 dark:hover:text-neutral-100"
              aria-label="LinkedIn profile"
            >
              LinkedIn
            </a>
          </li>
          <li>
            <a
              href="https://github.com/KennethOlivas"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-neutral-800 dark:hover:text-neutral-100"
              aria-label="GitHub profile"
            >
              GitHub
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
  </div>
    <p class="mt-4 text-center text-sm text-neutral-500 dark:text-neutral-500">
      &copy; {new Date().getFullYear()} Kenneth Olivas
    </p>
</footer>
