<footer class="mt-20">
  <p class="text-neutral-600 dark:text-neutral-400">
    &copy; {new Date().getFullYear()} - Kenneth Olivas
  </p>
  <a
    href="https:/www.linkedin.com/in/kenneth-olivas-027153208"
    target="_blank"
    class="text-neutral-600 dark:text-neutral-400 hover:text-neutral-800 dark:hover:text-neutral-100">
    https:/www.linkedin.com/in/kenneth-olivas
  </a>
  <p class="text-neutral-600 dark:text-neutral-400">kennetholivas1@gmail.com</p>
  <p class="text-neutral-600 dark:text-neutral-400">(+505) 81166983</p>
</footer>
