<header
  class="inline-flex items-baseline justify-between w-full mb-3 align-top border-b-8">
  <div class="block">
    <h1
      class="m-0 text-xl font-semibold text-gray-700 leading-snug dark:text-white">
      Full Stack Web Development
    </h1>
    <h2 class="mb-0 text-5xl font-bold text-gray-700 mt-2 dark:text-white">
      Kenneth Olivas Baldizón
    </h2>
  </div>
</header>
